<div class="container">
  <div class="row">
    <div class="col-25">
      <form [formGroup]="LoginApp">
        <h2 class="text-info">Login Form</h2>
        <div class="form-group">
          <div class="md-form">
            <label for="defaultForm-name" class="text-info">Name</label>
            <input type="text" formControlName="defaultFormName" class="form-control">
          </div>

          <div class="md-form">
            <label for="defaultForm-pass" class="text-info">Password</label>
            <input type="password" formControlName="defaultFormPass" id="defaultForm-pass" class="form-control"><br>
          </div>

          <span *ngIf="errorText" class="text-danger">{{ errorText }}</span>

          <div class="align-left">
            <button class="btn btn-primary" class="text-info" (click)="login()">Login</button>&nbsp;
            <input type="reset" value="reset" class="text-info"><br> Already have an account?
            <a (click)="goToRegisterUser()">Register</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>