<form [formGroup]="RegisterApp">
  <p class="h5 text-center mb-4">Login</p>

  <div class="md-form">
    <input type="text" formControlName="defaultFormEmail" id="defaultForm-email" class="form-control">
    <label for="defaultForm-email">Your email</label>
  </div>

  <div class="md-form">
    <input type="password" formControlName="defaultFormPass" id="defaultForm-pass" class="form-control">
    <label for="defaultForm-pass">Your password</label>
  </div>
  <div class="md-form">
    <input type="password" formControlName="defaultFormPass" id="defaultForm-pass" class="form-control">
    <label for="defaultForm-pass">Your password</label>
  </div>
  <span *ngIf="errorText" class="text-danger">{{ errorText }}</span>

  <div class="text-center">
    <button class="btn btn-primary" (click)="login()">Login</button>
  </div>
</form>